<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategoryMapper">
	<select id="selectAll" resultType="category">	
		select category_no, category_name
		from category
		Order by category_no asc
	</select>
</mapper>